.DashCard {
  margin-left: 20%;
  display: flex;
  gap: 4.5%;
  flex-wrap: wrap;
  box-shadow: 10px 10px;
}

.DashCard0 {
  margin-left: 5%;
  display: flex;
  gap: 4.5%;
  flex-wrap: wrap;
  box-shadow: 10px 10px;
}


.Card {
  /* background-color: #ffffff; */

  background: #e9d6dc;

  border-radius: 10px;
  width: 20%;
  height: 150px;
  margin-bottom: 30px;
  border: #ea9ab5 solid 1px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Card1 {
  /* background-color: #ffffff; */

  

  border-radius: 10px;
  width: 70%;
  height: 250px;
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 40px;
  border: #ea9ab5 solid 1px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background: url("https://i.ibb.co/MPd46TS/Untitled-design.png");
}

.Card2 {
  /* background-color: #ffffff; */

  /* background: #e9d6dc; */

  border-radius: 10px;
  width: 30%;
  height: 220px;
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 60px;
  border: #ea9ab5 solid 1px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background:linear-gradient(135deg, #f3cfb4 0%,#f39a99 100%);
}

.CardHeading {
  margin-top: 10px;
  margin-left: 29%;
  padding: 10px 10px 0px 10px;
  font-weight: 700;
  font-size: 20px;
  color:azure;
}

.CardHeading2 {
  padding: 10px 10px 0px 10px;
  margin-top: 60px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.CardData {
  display: flex;
  justify-content: flex-end;
}

.CardData .Count {
  font-weight: 800;
  font-size: 35px;
  padding-right: 50%;
  margin-top: 0px;
  color: #e9d6dc;
}

.bgi {
  background: url("https://i.ibb.co/PtPmnvP/Untitled-design-1.png");
}

@media (max-width: 768px) {
  .DashCard {
    margin: 10px;
    margin-left: 0px;
    width: 100%;
  }
}
@media (max-width: 426px) {
  .Card {
    width: 45%;
  }
}
